@model LoginViewModel

<h1>Вход</h1>

<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" autocomplete="off"/>
        <span asp-validation-for="Email"></span>
    </div>
    
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    
    <input type="hidden" asp-for="ReturnUrl"/>
    <button type="submit">
        Войти
    </button>
    
    <div asp-validation-summary="All"></div>
</form>