@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="container d-flex flex-column">
    <header class="mb-3">
        <h1 class="text-start text-uppercase">Личный кабинет преподавателя</h1>
    </header>
</div>