@model StudentEditViewModel

<h1>Редактирование профиля</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GroupName" class="form-label"></label>
        <input asp-for="GroupName" class="form-control" />
        <span asp-validation-for="GroupName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhotoUrl" class="form-label"></label>
        <input asp-for="PhotoUrl" class="form-control" />
        <span asp-validation-for="PhotoUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>